// Colors
$gray: #607D8B !default;
$gray-50: #ECEFF1 !default;
$gray-100: #CFD8DC !default;
$gray-200: #B0BEC5 !default;
$gray-300: #90A4AE !default;
$gray-400: #78909C !default;
$gray-500: $gray !default;
$gray-600: #546E7A !default;
$gray-700: #455A64 !default;
$gray-800: #37474F !default;
$gray-900: #263238 !default;

$blue: #42A5F5 !default;
$white: #FFFFFF !default;

$primary-color: $blue !default;
